@tailwind base;
@tailwind components;
@tailwind utilities;
.login_bg {
  background-image: url("./assets/bg.jpg"); /* Replace 'bg.jpg' with your image path */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.transparent-bg {
  background-color: rgba(
    245,
    237,
    237,
    0.905
  ); /* Transparent background color */
}
hr.solid {
  border-top: 1px solid #8B5CF6;
}
